{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <section class="module">
    <h3 align="center">Search for the restaurant</h3>
    <h6 align="center">Here you can find restaurant near provided location.</h6><br>
    {{ text }}
    <div class="container">
    <form method="post">
        {% csrf_token %}
        {{ form.as_table }}
        <div align="center">
        <button type="submit" class="btn btn-round btn-xs btn-brand" style="margin-left: 2%; margin-bottom: 10px"> Find!</button></div>
    </form>
    <div>
        <table id="tasks_table" class="table table-striped">
            <thead>
            <tr>
                <th></th>
                <th scope="col">Restaurant</th>
                <th scope="col">Cuisine</th>
                <th scope="col">Users rating</th>
                <th scope="col">Avg. cost for two</th>
                <th scope="col">Address</th>


            </tr>
            {% for i in zomato.nearby_restaurants %}
                <tr>
                    <td><img src="{{ i.restaurant.thumb }}"></td>
                    <td>  {{ i.restaurant.name }}<br><br><a href='{{ i.restaurant.menu_url }}'
                                                            style="color: lightgreen">Menu</a></td>
                    <td>{{ i.restaurant.cuisines }}</td>
                    <td>{{ i.restaurant.user_rating.rating_text }} ({{ i.restaurant.user_rating.aggregate_rating}})</td>
                    <td>{{ i.restaurant.average_cost_for_two }}{{ i.restaurant.currency }}</td>
                    <td>{{ i.restaurant.location.address }}</td>


                </tr>



            {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
</section>

{% endblock %}