{% extends 'base.html' %}
{% block content %}
    <br>
    <body style="background-color:#4682B4;">
    <a class="btn btn-secondary" href="{% url 'uk_news' %}" role="button">United Kingdom</a>
    <a class="btn btn-secondary" href="{% url 'usa_news' %}" role="button">USA</a>
    <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Poland</button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <a class="dropdown-item" href="{% url 'pl_news_business' %}">Business</a>
            <a class="dropdown-item" href="{% url 'pl_news_sci' %}">Science</a>
            <a class="dropdown-item" href="{% url 'pl_news_tech' %}">Technology</a>
        </div>
    </div>
<br>
    <br>

    <div class="row row-cols-1 row-cols-md-3">
        {% for news in news_api.articles %}
            <div class="col mb-4">
                <div class="card">
                    <a href="{{ news.url }}">
                        <img src="{{ news.urlToImage }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ news.title }}</h5>
                       <p class="card-text">{{ news.description }}</p></a>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
    </body>

    </div>



{% endblock %}