{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block content %}
    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
        </div>
    </div>
    <!-- Modal 2 with id="modal" -->
    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
        </div>
    </div>

    <p></p>
    <section class="module">
        <div class="container">
            {# Form   #}
            <form method="post">
                {% csrf_token %}

                <div class="form-row">
                    <div class="form-group col-sm-2">
                        {{ form.to_date|as_crispy_field }}
                    </div>
                    <div>
                        {{ form.time|as_crispy_field }}
                    </div>

                    <div class="form-group col-sm-3">
                        {{ form.name|as_crispy_field }}
                    </div>

                    <div align="right">
                        {{ form.add_to_calendar|as_crispy_field }}
                    </div>

                </div>
                <div>
                    <button type="submit" class="btn btn-round btn-xs btn-brand"
                            style="margin-left: 2%; margin-bottom: 10px"> Add task
                    </button>
                </div>
            </form>
        </div>
        {#    End form #}


        <div class="text-center">
            <h2 class="page-section-heading text-secondary" align="center"> ToDo list </h2>

            <div class="row justify-content-center">
            </div>
            <div >
                <table id="tasks_table" class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Task</th>
                        <th scope="col">Deadline</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for task in tasks %}
                        <tr>
                            <td>{{ task.name }}</td>
                            <td>{{ task.to_date }}: {{ task.time }}</td>
                            <td>
                                <button type="button" id="update-task"
                                        class="bs-modal btn btn-round btn-outline btn-xs btn-brand"
                                        data-form-url="{% url 'update_task' task.id %}">
                                    Update
                                </button>
                                <button type="button" id="delete-task"
                                        class="bs-modal btn btn-round btn-outline btn-xs btn-dark"
                                        data-form-url="{% url 'delete_task' task.id %}">
                                    Delete
                                </button>
                            </td>
                        </tr>

                    {% endfor %}

                    </tbody>
                </table>
            </div>

        </div>
    </section>

{% endblock %}
