{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block content %}

    <!-- Modal 2 with id="modal" -->
    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
        </div>
    </div>



    <p></p>
    <div class="text-center">
    <h2 class="page-section-heading text-secondary" align="right"> ToDo list </h2>
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
    </div>
    <div class="row justify-content-center">
    </div>
    <div>
        <table id="tasks_table" class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Task</th>
                <th scope="col">Deadline</th>
            </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ task.to_date }}: {{ task.time }}</td>
                    <td>
                        <button type="button" id="update-task" class="bs-modal btn btn-sm btn-primary"
                                data-form-url="{% url 'update_task' task.id %}">
                            <span class="fa fa-pencil"></span>
                        </button>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>

    <div class="sticky">

        <div class="submit_form">
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn btn-default" value="Add"/>
            </form>
        </div>

    </div>


{% endblock %}
