{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_filters %}

{% block content %}
    <div class="container" align="right">
        <button class="btn btn-round btn-outline btn-xs btn-gray" type="button" data-toggle="modal"
                data-target="#modal-1">Create task
        </button>
    </div>

    {#    <div class="row">#}
    {#        <div class="col-md-8 m-auto">#}


    <div class="modal fade" id="modal-1" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create task</h5>
                    <button class="close " type="button" data-dismiss="modal" aria-label="Close">
                        <span>×</span></button>
                </div>
                <div class="modal-body">
                    <form method="post">
                        {% csrf_token %}

                        <label class="col- col-form-label" for="example-date-input"
                               placeholder="Name">Name: </label>
                        <div class="col-3">
                            <input class="form-control" type="text" name="name" value="">
                        </div>

                        <label class="col-2 col-form-label" for="example-date-input">Date: </label>
                        <div class="col-3">
                            <input class="form-control" type="date" name="to_date" value="">
                        </div>
                        <div class="col-3">
                            <input class="form-control" type="time" name="time" value="">
                        </div>
{#                        <label class="custom-control-label" for="customCheck1">Add to your#}
                            calendar?</label>
                            <input type="checkbox" name="add_to_calendar" id="id_add_to_calendar">

            </div>
            <div class="modal-footer">
                <button class="btn btn-round btn-brand" type="submit">Save</button>
            </div>
            </form>

        </div>
    </div>
    </div>

    <section>
        <br><br>

        <h1 style="color:white;" align="Center">To-do list</h1>

        <div>
            <table class="table table-bordered table-hovered " cellspacing='1'>
                <tr>
                    <th style="color: white">Task</th>
                    <th style="color: white">Due date</th>
                    <th style="color: white"></th>

                </tr>
                {% for task in tasks %}
                    <tr>
                        <td style="color: white">{{ task.name }}</td>
                        <td style="color: white">{{ task.to_date }}</td>
                        <td>
                            <a href="{% url 'update_task' task.pk %}">
                                <button class="btn btn-round btn-outline btn-xs btn-gray"> Informations</button>
                            </a>
                        </td>

                    </tr>
                {% endfor %}
            </table>
        </div>
    </section>
{% endblock %}