{% extends 'base.html' %}
{% block content %}
    <section class="module">
        <div class="container" align="left">
            <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <a class="btn btn-round btn-outline btn-xs btn-dark"
               href="{% url 'calendar' %}">Cancel</a></button>
            <input type="submit" class="btn btn-round btn-outline btn-xs btn-brand" value="Update">
            <a class="btn btn-round btn-outline btn-xs btn-dark" href="/delete_event/{{ event.title }}/{{ event.pk }}">Delete</a></button>
        </div>

        </form>
    </section>
{% endblock %}



